# Connecting to MySql Database from Python

In [ ]:
#!pip install pymysql

In [1]:
## Import the necessary modules
import pymysql

In [2]:
## Establish a connection to the database
conn = pymysql.connect(
    host = 'localhost',
    port=3306,
    user='root', 
    db='practicedb', 
    passwd = 'tiger123',
    autocommit=True
    )

In [3]:
## Get a cursor object using the cursor() method of the connection object
cursor = conn.cursor()

In [4]:
cursor.execute('DROP TABLE IF EXISTS accounts')

0

In [5]:
sql_create = ''' CREATE TABLE accounts (accno char(6) PRIMARY KEY, 
first_name varchar(255), 
last_name varchar(255),
balance decimal(10,2)) '''

cursor.execute(sql_create)
#print(sql_create)

0

In [6]:
sql_insert = """ INSERT INTO accounts values 
('ACC001', 'Jon','Hamm', 150000.00),
('ACC002', 'Jon', 'Snow', 2000.00) """
cursor.execute(sql_insert)

2

In [7]:
cursor.execute('DROP TABLE IF EXISTS transactions')

0

In [8]:
sql_trs = """ CREATE TABLE transactions
(id integer PRIMARY KEY AUTO_INCREMENT,
account_no char(6),
trs_type char(2),
amount decimal(10,2),
tot datetime) """

cursor.execute(sql_trs)

0

In [13]:
debit_trs = """ UPDATE accounts
SET balance  = balance - 5000
WHERE accno = 'ACC001' """

credit_trs = """ UPDATE accounts
SET balance  = balance + 5000
WHERE accno = 'ACC002' """

log_debit = """ INSERT INTO transactions (account_no, trs_type, amount, tot)
values ('ACC001', 'DR',5000, now()) """

log_credit = """ INSERT INTO transactions (account_no, trs_type, amount, tot)
values ('ACC002', 'CR',5000, now()) """

In [10]:
credit_error = """ UPDATE accountss
SET balance  = balance + 5000
WHERE accno = 'ACC002' """

## Without Transaction

In [ ]:
cursor.execute(debit_trs)
#cursor.execute(credit_trs)
cursor.execute(credit_error)

In [ ]:
## Log the transactions
cursor.execute(log_debit)
cursor.execute(log_credit)

### Add transaction control

In [14]:
try:
    ## Begin transaction
    conn.begin()

    cursor.execute(debit_trs)
    cursor.execute(credit_trs)
    cursor.execute(log_debit)
    cursor.execute(log_credit)

    # Commit the transaction
    conn.commit()
except:
    # Rollback transaction in case of errors
    print("Error ... Rolling Back!")
    conn.rollback()

print("Transaction Completed")

Transaction Completed

# Using SELECT

In [15]:
sql = """SELECT * FROM books 
      WHERE authorid = 5 """ 
# Execute the command
cursor.execute(sql)

3

In [16]:
# Fetch all the rows in a list of lists.
results = cursor.fetchall()
results

((5, 'Night Without End', 5, 0),
 (6, 'Fear is the Key', 5, 4),
 (7, 'Where Eagles Dare', 5, 0))

In [17]:
## Loop through all the records in the cursor
for x in results:
    bookid = x[0]
    title = x[1]
    authorid = x[2]
  
    # Now print fetched result
    print ("bookid = %d, title = %s, author is = %d" % \
     (bookid, title , authorid ))

bookid = 5, title = Night Without End, author is = 5
bookid = 6, title = Fear is the Key, author is = 5
bookid = 7, title = Where Eagles Dare, author is = 5

## Calling a procedure

In [18]:
cursor.callproc('pyproc')
 
# print out the result
results = cursor.fetchall()
for result in results:
    print(result)

(100, 'Harry', datetime.date(1997, 7, 17), datetime.datetime(2022, 1, 27, 8, 30))
(200, 'Potter', datetime.date(2000, 8, 12), datetime.datetime(2022, 1, 27, 20, 30))
(300, 'Larry', datetime.date(1990, 9, 9), datetime.datetime(2022, 1, 28, 18, 22, 56))

## Calling a Function

In [19]:
sql_query = """ SELECT first_name, last_name, experience(emp_id) as experience
FROM myemp
WHERE dep_id = 60 """
cursor.execute(sql_query)

5

In [20]:
results = cursor.fetchall()
results

(('Alexander', 'Hunold', 46),
 ('Bruce', 'Ernst', 35),
 ('David', 'Austin', 35),
 ('Valli', 'Pataballa', 42),
 ('Diana', 'Lorentz', 35))

## Close the connection

In [ ]:
conn.close()

In [ ]:
mytup[3]

In [ ]:
mytup2 =(('Sam',23), ('Jon', 45),('Harry',89),['jam','Butter'])
mytup2

In [ ]:
mytup2[2][1]

In [ ]:
for x in mytup2:
    print(x)
    print(f'{x[0]} has got {x[1]} marks')

In [ ]:
for x in mytup:
    print(x)